{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/carousel.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid w-100 homepage">
        <div class="row h-100 px-3">
            <div class="col-8 col-md-7 my-auto">
                <p class="h1 display-6 text-black-50 text-muted">Everything is possible</p>
                <p class="h5 display-6 logo-font text-black">Sale up to 50% OFF</p>
                <div class="my5">
                    <h3>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-1 text-uppercase py-3"
                           aria-label="Shop now">Shop now</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid w-100 home-categories mx-auto extra-margin-top">
        <div class="row px-3">
            <div class="col col-6 col-md-3 my-auto mt-1 p-1">
                <div class="home-inner-category p-0 rounded-1 w-100">
                    <a href="{% url 'products' %}?category=laser_printers" class="row w-100  url-style">
                        <div class="col-12 col-sm-6 my-auto">
                            <img src="{{ MEDIA_URL }}laser-printer.webp" class="home-inner-category-image img-fluid"
                                 alt="blank" height="200">
                        </div>
                        <div class="col-12 col-sm-6 my-auto">
                            <p class="text-uppercase text-center">Laser Printers</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col col-6 col-md-3 my-auto mt-1 p-1">
                <div class="home-inner-category p-0 rounded-1 w-100">
                    <a href="{% url 'products' %}?category=inkjet_printers" class="row w-100 url-style ">
                        <div class="col-12 col-sm-6 my-auto">
                            <img src="{{ MEDIA_URL }}inkjet_printers.webp"
                                 class="home-inner-category-image img-fluid" alt="blank" height="200">
                        </div>
                        <div class="col-12 col-sm-6 my-auto">
                            <p class="text-uppercase text-center">Inkjet Printers</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col col-6 col-md-3 my-auto mt-1 p-1">
                <div class="home-inner-category p-0 rounded-1 w-100">
                    <a href="{% url 'products' %}?special=deals" class="row w-100 url-style">
                        <div class="col-12 col-sm-6 my-auto">
                            <img src="{{ MEDIA_URL }}special_deals.webp" class="home-inner-category-image img-fluid"
                                 alt="blank" height="200">
                        </div>
                        <div class="col-12 col-sm-6 my-auto">
                            <p class="text-uppercase text-center">Special Deals</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col col-6 col-md-3 my-auto mt-1 p-1">
                <div class="home-inner-category p-0 rounded-1 w-100">
                    <a href="{% url 'products' %}?special=clearance" class="row w-100 url-style">
                        <div class="col-12 col-sm-6 my-auto">
                            <img src="{{ MEDIA_URL }}clearance.webp" class="home-inner-category-image img-fluid"
                                 alt="blank" height="200">
                        </div>
                        <div class="col-12 col-sm-6 my-auto">
                            <p class="text-uppercase text-center">Clearance Sale</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid w-100 home-categories  mx-auto extra-margin-top">
        <div class="row h-100 px-3">
            <div class="col-12 col-sm-2 offset-sm-1 border-silver">
                <div class="row">
                    <div class="col-3 p-0 my-auto "><i class="fas fa-truck fa-lg category-icon"></i></div>
                    <div class="col-9 p-0 my-auto text-center"><span>Free Delivery</span> <br><span>From £50</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2 border-silver">
                <div class="row">
                    <div class="col-3 p-0 my-auto"><i class="fas fa-thumbs-up fa-lg category-icon"></i></div>
                    <div class="col-9 p-0 my-auto text-center"><span>99% satisfied</span><br><span>customers</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2 border-silver">
                <div class="row">
                    <div class="col-3 p-0 my-auto "><i class="fas fa-circle-notch fa-lg category-icon"></i></div>
                    <div class="col-9 p-0 my-auto text-center"><span>365 days</span><br><span>for free return</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2 border-silver">
                <div class="row">
                    <div class="col-3 p-0 my-auto "><i class="fas fa-credit-card fa-lg category-icon"></i></div>
                    <div class="col-9 p-0 my-auto text-center"><span>Payment</span><br><span>secure system</span></div>
                </div>
            </div>
            <div class="col-12 col-sm-2 border-silver">
                <div class="row">
                    <div class="col-3 p-0 my-auto"><i class="fas fa-tags fa-lg category-icon"></i></div>
                    <div class="col-9 p-0 my-auto text-center"><span>only best</span><br><span>brands</span></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel code from https://bootsnipp.com/snippets/zDQkr -->
    <div class="container-fluid pb-5 extra-margin-top">
        <p class="h1 text-center pt-2">Featured</p>
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    {% for product in products %}
                        {% if product.featured %}
                            <div class="item">
                                <div class="pad15 ">
                                    <div class="carousel-image-container">
                                        {% if product.product_image.all.0.image %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img src="{{ product.product_image.all.0.image_url }}"
                                                     alt="{{ product.name }}" width="200" height="200">
                                            </a>
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}200x200.webp" alt="{{ product.name }}"
                                                 class="" width="200" height="200">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="leftLst" aria-label="scroll gallery image left"><i class="fas fa-chevron-left" ></i></button>
                <button class="rightLst" aria-label="scroll gallery image right"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}