
/* ------------------------------------------ homepage Carousel styles */
.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.leftLst, .rightLst {
    border: unset;
    background-color: unset;
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}


.carousel-image-container > img {
    max-width: 100%;
    display: block;
}


/*.MultiCarousel-inner {*/
/*    display: flex;*/
/*    height: 100%;*/
/*    !*flex-direction: column;*!*/
/*    !*align-content: space-evenly;*!*/
/*    !*align-items: stretch;*!*/
/*}*/

/*.pad15 {*/
/*    display: inline-block;*/
/*    align-self: flex-end;*/
/*}*/

/*    end carousel styles */

/* --------------------------------------------Product detail---Bootstrap carousel*/
.carousel-indicators {
    position: relative;
}

.carousel-indicators > .list-inline-item {
    filter: grayscale(0.8);
    opacity: 0.5;
    max-width: 100px;
}

.carousel-indicators > .active {
    filter: grayscale(0);
    opacity: 1;
}
.carousel-indicators > .list-inline-item:hover {
        opacity: 1;
        filter: grayscale(0);
}

.carousel-control-prev,
.carousel-control-next {
    top: unset;
    bottom: 0;
    height: 100px;
}