html {
    height: 100%;
}

nav li {
    list-style: none;
    list-style-position: outside;
}

.body {
    overflow: hidden;
    height: calc(100vh - 188px);
    color: #555;
    font-family: "Lato", sans-serif !important;
}


.search-label {
    width: 90%;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.url-style:link,
.url-style:visited,
.url-style:active {
    text-decoration: none;
}

.url-style:hover {
    background-color: #ffbfe7;
}

/*a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked
*/

.nav-header {
    border-bottom: 1px solid grey;
    position: relative;
    height: 24px;
}

.nav-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-header li {
    display: inline;
    min-width: 100px;
    padding: 5px;
    word-break: keep-all;
}

.nav-header--section_right {
    position: relative;
    right: 5%;
}

.homepage {
    height: 400px;
    background: #FCFAEB url('/media/robot.webp') no-repeat center;
    background-size: contain;
}

/*from Bulma*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 140px;
    /*width: 260px;*/
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}


.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.home-inner-category-image {
    width: 100%;
    margin: auto;
    display: block;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge {
    color: #212529 !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.product-images {
    width: 70px;
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}


a:hover {
    text-decoration: underline !important;
}





















/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        /*padding-top: 164px;*/
    }
}

@media (max-width: 991px) {
    .header-container {
        /*padding-top: 130px;*/
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

}





@media (max-width: 767px) {
    .header-container {
        /*padding-top: 103px;*/
    }
}

