html {
    height: 100%;
}


.body {
    overflow: hidden;
    height: calc(100vh - 188px);
    color: #555;
    font-family: "Lato";
}

.nav-header {
    border-bottom: 1px solid grey;
    position: relative;
    height: 24px;
}

.nav-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-header li {
    display: inline;
    min-width: 100px;
    padding: 5px;
    word-break: keep-all;
}

.nav-header--section_right {
    position: relative;
    right: 5%;
}

.homepage {
    height: 400px;
    background: #FCFAEB url('/media/robot.webp') no-repeat center;
    background-size: contain ;
}


/*from Bulma*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.tex-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}





/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}