<!-- Footer style from https://mdbootstrap.com/docs/standard/navigation/footer/examples-and-customization/  -->
<footer
        class="text-center text-lg-start text-white mt-auto"
        style="background-color: #45526e"
>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        Shop Easy
                    </h6>
                    <p>
                        Shop Easy offers top brand printers and professional services for refueling cartridges for
                        printers of any brand,
                        with a visit of the technician in Moscow and the Moscow region. We promptly resolve customer
                        problems,
                        thus avoiding disruptions in the workflow.
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none"/>

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                    <p>
                        <a class="text-white">Canon</a>
                    </p>
                    <p>
                        <a class="text-white">HP</a>
                    </p>
                    <p>
                        <a class="text-white">Brother</a>
                    </p>
                    <p>
                        <a class="text-white">Epson</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none"/>

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        Useful links
                    </h6>
                    <p>
                        <a href="{% url 'profile' %}" class="text-white">Your Account</a>
                    </p>
                    <p>
                        <a class="text-white">Shipping Rates</a>
                    </p>

                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none"/>

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p><i class="fas fa-home mr-3"></i> <a href="https://yandex.ru/maps/-/CCUyN0TnsC" target="_blank">Moscow, 2-Y Khoroshevskiy Proyezd, 7, Russia.</a></p>
                    <p><i class="fas fa-envelope mr-3"></i> <a
                            href="mailto:info@maxmaster-msk.ru">info@maxmaster-msk.ru</a></p>
                    <p><i class="fas fa-phone mr-3"></i>
                        <a href="tel:+7495784-40-000">+7 (495) 784-40-00</a></p>

                </div>
                <!-- Grid column -->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

{#        <hr class="my-3">#}

        <!-- Section: Copyright -->
{#        <section class="p-3 pt-0">#}
{#            <div class="row d-flex align-items-center">#}
{#                <!-- Grid column -->#}
{#                <div class="col-md-7 col-lg-8 text-center text-md-start">#}
{#                    <!-- Copyright -->#}
{#                    <div class="p-3">#}
{#                        © 2022 Copyright: Alexander Grib#}
{#                    </div>#}
{#                    <!-- Copyright -->#}
{#                </div>#}
{#                <!-- Grid column -->#}
{##}
{#                <!-- Grid column -->#}
{#                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">#}
{#                    <!-- Facebook -->#}
{#                    <a#}
{#                            class="btn btn-outline-light btn-floating m-1"#}
{#                            class="text-white"#}
{#                            role="button"#}
{#                    ><i class="fab fa-facebook-f"></i></a>#}
{##}
{#                    <!-- Twitter -->#}
{#                    <a#}
{#                            class="btn btn-outline-light btn-floating m-1"#}
{#                            class="text-white"#}
{#                            role="button"#}
{#                    ><i class="fab fa-twitter"></i></a>#}
{##}
{#                    <!-- Google -->#}
{#                    <a#}
{#                            class="btn btn-outline-light btn-floating m-1"#}
{#                            class="text-white"#}
{#                            role="button"#}
{#                    ><i class="fab fa-google"></i></a>#}
{##}
{#                    <!-- Instagram -->#}
{#                    <a#}
{#                            class="btn btn-outline-light btn-floating m-1"#}
{#                            class="text-white"#}
{#                            role="button"#}
{#                    ><i class="fab fa-instagram"></i></a>#}
{#                </div>#}
{#                <!-- Grid column -->#}
{#            </div>#}
{#        </section>#}
        <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
</footer>
<!-- Footer -->
