<!-- Footer style from https://mdbootstrap.com/docs/standard/navigation/footer/examples-and-customization/  -->
<footer
        class="text-center text-lg-start text-white mt-auto"
        style="background-color: #45526e"
>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <p class="text-uppercase mb-4 font-weight-bold h6">
                        Shop Easy
                    </p>
                    <p>
                        Shop Easy offers top brand printers and professional services for refueling cartridges for
                        printers of any brand,
                        with a visit of the technician in Moscow and the Moscow region. We promptly resolve customer
                        problems,
                        thus avoiding disruptions in the workflow.
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none"/>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <p class="text-uppercase mb-4 font-weight-bold h6">Products</p>
                    <p>
                        <a href="/products/?brand=canon" class="url-style_classic text-white">Canon</a>
                    </p>
                    <p>
                        <a href="/products/?brand=hp" class="url-style_classic text-white">HP</a>
                    </p>
                    <p>
                        <a href="/products/?brand=brother" class="url-style_classic text-white">Brother</a>
                    </p>
                    <p>
                        <a href="/products/?brand=epson" class="url-style_classic text-white">Epson</a>
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none"/>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <p class="text-uppercase mb-4 font-weight-bold h6">Contact</p>
                    <p><i class="fas fa-home mr-3"></i> <a href="https://yandex.ru/maps/-/CCUyN0TnsC" target="_blank" class="url-style_classic text-white" rel="noreferrer">Moscow, 2-Y Khoroshevskiy Proyezd, 7, Russia.</a></p>
                    <p><i class="fas fa-envelope mr-3"></i> <a
                            href="mailto:info@maxmaster-msk.ru" class="url-style_classic text-white" rel="noreferrer">info@maxmaster-msk.ru</a></p>
                    <p><i class="fas fa-phone mr-3"></i>
                        <a href="tel:+7495784-40-000" class="url-style_classic text-white" rel="noreferrer">+7 (495) 784-40-00</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

