<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="printers-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Printers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="printers-link">
                <a href="{%  url 'products' %}?category=laser_printers" class="dropdown-item">Laser Printers</a>
                <a href="{%  url 'products' %}?category=inkjet_printers" class="dropdown-item">Ink Printers</a>
                <a href="{%  url 'products' %}?category=laser_printers,inkjet_printers" class="dropdown-item">All Printers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cartridges-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cartridges-link">
                <a href="{%  url 'products' %}?brand=brother" class="dropdown-item">Brother</a>
                <a href="{%  url 'products' %}?brand=epson" class="dropdown-item">Epson</a>
                <a href="{%  url 'products' %}?brand=hp" class="dropdown-item">HP</a>
                <a href="{%  url 'products' %}?brand=canon" class="dropdown-item">Canon</a>
{#                <a href="{%  url 'products' %}?category=brother" class="dropdown-item">Brother cartridges</a>#}
{#                <a href="{%  url 'products' %}?category=brother,canon,hp,epson" class="dropdown-item">All cartridges</a>#}
                <a href="#" class="dropdown-item">All cartridges</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{%  url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{%  url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{%  url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{%  url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>