{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12  col-md-10 offset-md-1">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12  col-md-10 offset-md-1">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    {#                    <label for="product_spec">Prodct specs</label><input type="text" name="product_spec" maxlength="254" class="border-black rounded-0 textinput textInput form-control" id="product_spec">#}
{#                    <button id="add-another">add another spec</button>#}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function () {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>

    <script type="text/javascript">
        let form_count = 0;
        $("#add-another").click(function () {
            form_count++;
            let element = $('<input type="text"/>');
            element.attr('name', 'product_specs_' + form_count);
            $(".form").append(element);
            // build element and append it to our forms container

            $("[name=extra_field_count]").val(form_count);
            // increment form count so our view knows to populate
            // that many fields for validation
        })
    </script>


      <script src="{% static 'js/tinyMceSettings.js' %}"></script>
{% endblock %}

{#<div id="div_id_product_specs_2" class="mb-3">#}
{#    <label for="id_product_specs_2" class="form-label">#}
{#        Product specs 2#}
{#    </label>#}
{#    <input type="text" name="product_specs_2" class="textinput textInput form-control" id="id_product_specs_2">#}
{#</div>#}
