{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Brand Management</h2>
                <h5 class="text-muted">Add new Brand</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_brand' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field | as_crispy_field }}
                    {% endfor %}

                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'add_product' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Brand</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h5>Brands List</h5>
                <ul>
                    {% for brand in brands %}
                        <li class="list-unstyled mt-3 mb-3">{{ brand.friendly_brand_name }}
                            <a class="url-style_danger" data-bs-toggle="modal" data-bs-target="#deleteBrand" data-brand="{{ brand.friendly_brand_name }}"
                            data-brandid="{% url 'delete_brand' brand_id=brand.id %}">
                            delete
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>






{#----------------------Modal----------------------------------------#}
    <div class="modal fade" id="deleteBrand" tabindex="-1" aria-labelledby="deleteBrand" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteBrand"></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="#"  class="btn btn-primary delete-btn">Delete</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}




{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
        $('#deleteBrand').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var data = button.data() // Extract info from data-* attributes
            var modal = $(this)
            modal.find('.modal-title').text('Are you sure you want to delete?')
            modal.find('.modal-body span').text(data.brand)
            modal.find('.modal-footer a').attr("href", data.brandid)

        })
    </script>

{% endblock %}